.stockItemsLabelFrame{
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
}

.iframe-container-custom{
  padding: 0px;
  overflow: hidden;
  height: 100%;
}

::ng-deep .lwDialog .dialog .window>.content{
  padding: 0px !important;
}

::ng-deep .window{
  height: 0;
}


::ng-deep .content{
  padding: 0px !important;
  background: black;
}
